apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalog-service
  namespace: catalog
  labels:
   app: catalog
   
spec:
  replicas: 2
  selector:
    matchLabels:
      app: catalog
      
  template:
    metadata:
      labels:
        app: catalog
       
    spec:
      containers:
        - name: catalog
          image: saotech/catalog-service:latest
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: catalog-configmap
            - secretRef:
                name: catalog-secret
