apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/DevOpsByOmer/StreamCard-Platform.git
    targetRevision: main
    path: GitOps/environments/dev/ingress

  destination:
    server: https://kubernetes.default.svc
    namespace: frontend

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
