name: auth ci
on: 
  push:
    paths:
      - "services/auth-service/**"
 
    branches:
             - main
  workflow_dispatch:
env:
    IMAGE_NAME: auth-service
    
        
jobs:
    build:
        runs-on: ubuntu-latest
        steps:

            - name: Code checkout
              uses: actions/checkout@v3
            - name: Set image tag
              run: echo "IMAGE_TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV

            - name: docker-login
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME}}
                password: ${{ secrets.DOCKERHUB_TOKEN}}

            - name: Docker build and push
              run: |
               docker build -t ${{ secrets.DOCKERHUB_USERNAME}}/${IMAGE_NAME}:${IMAGE_TAG} Services/auth-service
               docker push  ${{ secrets.DOCKERHUB_USERNAME}}/${IMAGE_NAME}:${IMAGE_TAG}
            
            - name: Update Github Manifest
              run: |
               sed -i "s|auth-service:.*|auth-service:${IMAGE_TAG}|g" \
               GitOps/environments/dev/auth/deployment.yml
            - name: Commit & Push
              run: |
                 git config user.name "github-actions"
                 git config user.email "ci@github.com"
                 git add GitOps/environments/dev/auth/deployment.yml
                 git commit -m "Update catalog image to ${IMAGE_TAG}"
                 git push origin main


